html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
/* Background: make into a textured look */
/* Animations: fade in */
/* Start Screen: In middle put a gif or pic or something symbolic of strength */

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc( 100vh - 100px);
  background: rgb(126, 129, 133);
  flex-direction: column;
}

#main-container div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 25%;
  height: 20%;
  border: 1px rgb(0, 0, 0) solid;
}

#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: rgb(174, 177, 183);
}
/* Timer */

#header-left {
  display: flex;
  justify-content: center;
  flex-grow: 1;

}

#header-center {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}
/* 7 turn counter */

#header-right {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
/* Font: make it have sharper edges */

 h1 {
  font-size: 4em;
  color: whitesmoke;
}
/* Animations: make button pop out, change color slowly */

#btn-start {
  height: 75px;
  width: 125px;
  margin-top: 300px;
  font-size: 1.75em;
  border-radius: 20%;
  background-color: azure;
}

.hidden {
  opacity: 0.05;
}
/* Animations: make button pop out, change color slowly */

#btn-restart {
  height: 75px;
  width: 125px;
  margin-top: 300px;
  font-size: 1.75em;
  border-radius: 20%;
  background-color: indianred;
  color: thistle;
}