html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
/* Background: make into a textured look */
/* Animations: fade in */
/* Start Screen: In middle put a gif or pic or something symbolic of strength */

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc( 100vh - 100px);
  background: rgb(174, 177, 183);
  flex-direction: column;
}

#main-container div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 25%;
  height: 20%;
  border: 10px rgb(0, 0, 0) solid;
  background-image: url('http://hwalls.com/upload/metal_wallpaper4859.jpg');
}

#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: rgb(174, 177, 183);
  border-bottom: 1px whitesmoke solid;
  border-block-end: 50px;
}

#header-right {
  color: whitesmoke;
  font-size: 1.65em;
}

.card {
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-position: center;
}


#header-left {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#header-center {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}
/* 7 turn counter */

#header-right {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

 h1 {
  font-size: 4em;
  color: whitesmoke;
  font-family: 'Russo One', sans-serif;
  text-shadow: 5px 5px 1px black;
  animation: popout 3s ease;
  -webkit-animation: popout 3s ease;
}

h3 {
  font-size: 2.5em;
  font-family: 'Russo One', sans-serif;
  color: whitesmoke;

}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#btn-start {
  height: 75px;
  width: 125px;
  margin-top: 0px;
  font-size: 1.75em;
  border-radius: 20%;
  background-color: azure;
  font-family: 'Russo One', sans-serif;
  border: 1px rgb(174, 177, 183) solid;
  animation: pulse 3s infinite;
  margin-top: 100px;
}

@keyframes pulse {
  0% {
    background-color: azure;
  }
  100% {
    background-color: limegreen;
  }
}


#gif-win img {
  height: 400px;
  width: 650px;
}

.hidden {
  opacity: 0.01;
}

#btn-restart {
  height: 75px;
  width: 125px;
  margin-top: 0px;
  font-size: 1.75em;
  border-radius: 20%;
  background-color: indianred;
  color: thistle;
  font-family: 'Russo One', sans-serif;
  border: 1px white solid;
  animation: popout 1s ease;
  -webkit-animation: popout 1s ease;

}
  @keyframes popout {
  from{transform:scale(0)}
  80%{transform:scale(1.2)}
  to{transform:scale(1)}
}
@-webkit-keyframes popout {
  from{-webkit-transform:scale(0)}
  80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}